<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="src/php/loader.php" stderr="true">
	<testsuites>
		<testsuite name="Builder">
			<directory suffix="Test.php">test/php/Builder</directory>
		</testsuite>
		<testsuite name="Query">
			<directory suffix="Test.php">test/php/Query</directory>
		</testsuite>
	</testsuites>
</phpunit>